@import "../../styles/variables.scss";
a {
    text-decoration: none;
  }
  
  h5{
      margin: 0;
      padding: 0;
}

#Footer {
  width: 1155px;
  height: 168px;
  padding: 72px 182px;
  display: flex;
  align-items: center;
  gap: 24px;
  background-color: #F5F7FA;
  .logo-column {
    width: 416px;
  }

  .menu-column {
    width: 196px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    h5 {
      color: $primary-text-color;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px; 
    }
  }

  .menu-links {
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    a{
        color: $primary-text-color;
    }
  }

  .support-column {
    width: 196px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .support-links{
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    a{
        text-decoration: none;
        color: $primary-text-color;
    }
  }
  .follow-us-column {
    width: 196px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .follow-us-links{
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    a{
        text-decoration: none;
        color: $primary-text-color;
    }
  }
}

